<div class="home" *ngIf="affichage==1">
  <!-- home bg -->
  <div class="home__bg"></div>
  <!-- end home bg -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="home__content">
          <h1 class="home__title">MIABE - CAR</h1>
          <p class="home__text">Bienvenue sur notre plateforme de location de voitures ! <br>Découvrez la solution
            facile pour reprendre un bail en toute simplicité. <br>Que vous viviez à Lomé, nous avons ce qu'il vous
            faut. <br>Utilisez notre formulaire de recherche pour trouver les dates de début <br>et de fin de
            réservation qui vous conviennent. <br>Trouvons ensemble votre prochaine location idéale !</p>
          <br>
          <div style="text-align: center;" *ngIf="erreur" class="alert alert-danger">{{ message }}</div>
          <form class="home__search" [formGroup]="rechercheDateForm">
            <div class="home__group">
              <label for="search2">Date réservation</label>
              <input type="date" name="dateReservation" id="dateReservation" name="dateReservation" formControlName="dateReservation" [(ngModel)]="rechercheDateForm.dateReservation" required>
              <div class="sign__" [hidden]="dateReservation.valid || dateReservation.pristine && !dateReservation.touched ">Date reservation obligatoire</div>
            </div>
            <div class="home__group">
              <label for="search3">Date retour</label>
              <input type="date" name="dateRetour" id="dateRetour" name="dateRetour" formControlName="dateRetour" [(ngModel)]="rechercheDateForm.dateRetour" required>
              <div class="sign__" [hidden]="dateRetour.valid || dateRetour.pristine && !dateRetour.touched ">Date retour obligatoire</div>
            </div>
            <button type="submit"  [disabled]="rechercheDateForm.invalid" (click)="onRecherche()"><span>Rechercher</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- resultats de recherche -->
<div class="container" *ngIf="affichage==2">
    <div class="row">
      <div class="col-12">
        <div class="main__title main__title--page">
          <button class="btn btn-success" (click)="onRetourPrincipale()">Retour</button>
        </div>

        <div class="main__title main__title--page">
          <h3>Les Résultats de votre recherche !</h3>
        </div>
        <br>

        <form class="sign_form" action="#">
            <div class="sign__group">
              <label for="" class="sign_input">Marque</label>
              <input type="text" class="sign__input" id="marque" [(ngModel)]="marque" name="marque" required placeholder="Rechercher une voiture par marque">
            </div>
          <button class="btn btn-primary" type="button" (click)="voitureParMarque()"><span>Rechercher</span></button>
        </form>
      </div>
    </div>

    <!-- voitures -->
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4" *ngFor="let voiture of voitures;  let i = index">
        <div class="car">
          <div class="car__img">
            <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
          </div>
          <div class="car__title">
            <h3 class="car__name"><a href="car.html">{{ voiture.modele.marque.nom }} {{ voiture.modele.nom }}</a></h3>
            <span class="car__year">{{ voiture.anneeFabrication }}</span>
          </div>
          <ul class="car__list">
          </ul>
          <div class="car__footer">
            <div class="text-sm-end">
              <button type="button" class="btn btn-info" (click)="onDetails(voiture.id)">Détails</button>
            </div>
            <div class="text-sm-end">
              <button type="button" (click)="reserver(voiture.id)" class="btn btn-warning">Réserver</button>
            </div>
          </div>
        </div>
      </div>
      <h6 *ngIf="voitures.length == 0" class="text-center text-danger">Aucun résutat pour votre recherche !</h6>
    </div>
    <!-- end voitures -->

    <!-- paginator -->
    <div class="row">
      <div class="col-12">
        <div class="paginator">
          <span class="paginator__pages">6 from 129</span>

          <ul class="paginator__list-mobile">
            <li>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z" />
                </svg>
                <span>Prev</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Next</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z" />
                </svg>
              </a>
            </li>
          </ul>

          <ul class="paginator__list">
            <li>
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z" />
                </svg></a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><span>...</span></li>
            <li><a href="#">18</a></li>
            <li><a href="#">19</a></li>
            <li>
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z" />
                </svg></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end paginator -->
</div>

<!-- resultats recherche par marque -->
<div class="container" *ngIf="affichage==4">
  <div class="row">
    <div class="row">
      <div class="col-12">
        <div class="main__title main__title--page">
          <button class="btn btn-success" (click)="onRetourPrincipale()">Retour</button>
        </div>

        <div class="main__title main__title--page">
          <h3>Les Résultats de votre recherche !</h3>
        </div>
        <br>

        <form class="sign_form" action="#">
            <div class="sign__group">
              <label for="" class="sign_input">Marque</label>
              <input type="text" class="sign__input" id="marque" [(ngModel)]="marque" name="marque" required placeholder="Rechercher une voiture par marque">
            </div>
          <button class="btn btn-primary" type="button" (click)="voitureParMarque()"><span>Rechercher</span></button>
        </form>
      </div>
    </div>

    <!-- voitures par marque -->
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4" *ngFor="let voiture of voituresParMarque;  let i = index">
        <div class="car">
          <div class="car__img">
            <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
          </div>
          <div class="car__title">
            <h3 class="car__name"><a href="car.html">{{ voiture.modele.marque.nom }} {{ voiture.modele.nom }}</a></h3>
            <span class="car__year">{{ voiture.anneeFabrication }}</span>
          </div>
          <ul class="car__list">
          </ul>
          <div class="car__footer">
            <div class="text-sm-end">
              <button type="button" class="btn btn-info" (click)="onDetails(voiture.id)">Détails</button>
            </div>
            <div class="text-sm-end">
              <button type="button" (click)="reserver(voiture.id)" class="btn btn-warning">Réserver</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <h6 *ngIf="voituresParMarque.length == 0" class="text-center text-danger">Aucun résutat pour votre recherche !</h6>
    </div>
    <!-- end voitures par marque -->
  </div>

  <!-- paginator -->
  <div class="row">
    <div class="col-12">
      <div class="paginator">
        <span class="paginator__pages">6 from 129</span>

        <ul class="paginator__list-mobile">
          <li>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z" />
              </svg>
              <span>Prev</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Next</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z" />
              </svg>
            </a>
          </li>
        </ul>

        <ul class="paginator__list">
          <li>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z" />
              </svg></a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><span>...</span></li>
          <li><a href="#">18</a></li>
          <li><a href="#">19</a></li>
          <li>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z" />
              </svg></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end paginator -->
</div>

<!-- details voiture  -->
<main class="main" *ngIf="affichage==3">
  <div class="container">
    <section class="row">
    <!-- breadcrumb -->
    <div class="col-12">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="index.html">Home</a></li>
        <li class="breadcrumbs__item"><a href="cars.html">Explore cars</a></li>
        <li class="breadcrumbs__item breadcrumbs__item--active">Toyota RAV4</li>
      </ul>
    </div>
    <!-- end breadcrumb -->
      <!-- title -->
      <div class="col-12">
        <br>
        <button type="button" class="btn btn-warning btn-rounded" (click)="onRetourVoiture()">Retour</button>
        <div class="main__title main__title--page">
          <h1>{{ voiture.modele.nom }} {{ voiture.modele.marque.nom }}</h1>
        </div>
      </div>

      <!-- end title -->
      <!-- details -->
      <div class="col-12 col-lg-7">
        <div class="details">
          <div class="splide splide--details details__slider">
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z">
                  </path>
                </svg></button>
              <button class="splide__arrow splide__arrow--next" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z">
                  </path>
                </svg></button>
            </div>

            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <img src="assets/img/cars/1-1-big.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img src="assets/img/cars/1-2-big.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img src="assets/img/cars/1-3-big.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img src="assets/img/cars/1-4-big.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>

          <ul id="thumbnails" class="thumbnails">
            <li class="thumbnail">
              <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
            </li>
            <li class="thumbnail">
              <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
            </li>
            <li class="thumbnail">
              <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
            </li>
            <li class="thumbnail">
              <img src="{{this.APIEndpoint + voiture.imagePrincipal }}" alt="">
            </li>
          </ul>
        </div>
      </div>
      <!-- end details -->

      <!-- offer -->
      <div class="col-12 col-lg-5">
        <div class="offer">
          <span class="offer__title">Détails</span>
          <div class="offer__wrap">
            <span class="offer__price">50.000F <sub>/ Jour</sub></span>
            <button class="offer__favorite" type="button" aria-label="Add to favorite"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z" />
              </svg></button>
              <button type="button" class="btn btn-success" (click)="reserver(voiture.id)"><span>Réserver</span></button>
          </div>

          <ul class="offer__list">
            <li>
              <span class="offer__list-name">Prix</span>
              <span class="offer__list-value offer__list-value--dark">{{ voiture.prix }}</span>
            </li>
            <li>
              <span class="offer__list-name">Couleur</span>
              <span class="offer__list-value">{{ voiture.couleur }}</span>
            </li>
            <li>
              <span class="offer__list-name">Année</span>
              <span class="offer__list-value">{{ voiture.anneeFabrication }}</span>
            </li>
            <li>
              <span class="offer__list-name">Puissance</span>
              <span class="offer__list-value">{{ voiture.puissance }} km/h</span>
            </li>

          </ul>

        </div>
      </div>
      <!-- end offer -->
    </section>
  </div>


</main>
<!-- end main content -->
